body {
	font-family:"Lucida Grande","Tahoma","Helvetica","Arial",sans-serif;
	font-color: #222;
	font-size: 12px;
}

a,
a:visited {
	color: #0000EE;
} 
a img {
	border: none;
}

#logo {
	float: left;
	width: 14em;
	margin-right: 5px;
}
#logo img {
	max-width: 100%;
}
#search {
	padding-left: 14em;
	margin: 10px 5px 25px 10px;
}
#search .btn {
	background:none repeat scroll 0 0 transparent;
	font-size:15px;
	height:30px;
	margin:0;
	vertical-align:top;
}
#search .inp {
	font-size:18px;
	width:20em;
}

.toggle a {
	text-decoration: none;
}
#left .toggle {
	text-align: right;
}
#left {
	float: left;
	margin-right: 5px;
}
#left .body {
	width: 14em;
}

#right {
	float: left;
	margin-left: 5px;
}
#right .body {
	width: 16em;
}

#results {
	float: left;
	border-width: 0 1px;
	border-style: solid;
	border-color: #CCC;
	padding: 0 10px;
	width: 600px;
}

ul.resource-list {
	margin: 0;
	padding: 0;
	font-size: 95%;
}
ul.resource-list li {
	padding: 2px 0;
	margin: 0;
	list-style: none;
	cursor: pointer;
}
.resource-list .selected {
	font-weight: bold;
}
.resource-list li:hover .label {
	text-decoration: underline;
}
.resource-list .count {
	float: left;
	width: 2em;
	text-align: right;
	color: #AAA;
}
.resource-list .value-inner {
	padding-left: 2.5em;
}
.resource-list .checkbox {
	padding-left: 0.5em;
	float: right;
}

.relations-header,
#relations .toggle-button,
#relations .resource-list li {
	padding: 2px 2px 0;
	float: left;
}

.facet,
.related {
	margin-top:10px;
	padding-top:5px;
}

.facet .resource-list {
	overflow: auto;
	max-height: 12em;
}

.column .header {
	border-bottom:1px solid #CCC;
	padding-bottom: 3px;
}

#results .header {
	overflow: auto;
	padding-bottom: 15px;
}

.paginator {
	text-align: center;
	margin: 10px 0 20px;
}
.paginator a {
	border:1px solid #0000EE;
	margin: 0 2px;
	padding: 3px;
	color: #0000EE;
	text-decoration: none;
}
.paginator .active a {
	color: #CCC;
	border-color: #CCC;
}

.result-item {
	clear: both;
	max-width: 600px;
	margin-bottom: 20px;
	overflow: auto;
}
.result-item .title {
	overflow: auto;
	margin-bottom: 3px;
}
.result-item .thumbnail {
	max-width: 125px;
	max-height: 125px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.result-item .thumbnail img {
	width: 100%;
}
.result-item .subtitle {

}
.result-item .description {
	font-size: 90%;
}
.result-item .text {
}