.search {
	margin: 10px 5px;
}
.search .btn {
	background:none repeat scroll 0 0 transparent;
	font-size:15px;
	height:30px;
	margin:0;
	vertical-align:top;
}
.search .inp {
	font-size:18px;
	width:20em;
}

.left {
	float: left;
	margin: 0 5px;
	width: 140px;
}

.count {
	float: right;
}

.header {
	font-size: 90%;
	padding-bottom: 5px;
}

.left ul {
	margin: 0;
	padding: 0;
	font-size: 95%;
}
.left li {
	padding: 3px 5px;
	margin: 0;
	list-style: none;
}
.left .selected,
.left .selected a {
	background-color: #0000EE;
	color: #FFF;
}

.left li a {
	text-decoration: none;
}

.related {
	border-top:1px solid #AAAAAA;
	margin-top:10px;
	padding-top:5px;
}

.paginator {
	text-align: center;
	margin-top: 10px
}
.paginator a {
	border:1px solid #0000EE;
	margin: 0 2px;
	padding: 3px;
	color: #0000EE;
	text-decoration: none;
}
.paginator .active a {
	color: #BBB;
	border-color: #BBB;
}

.results {
	border-left: 1px solid #CCC;
	padding: 0 5px;
	overflow: auto;
}

.result-item {
	float: left;
	margin: 0 10px 10px;
}
.thumbnail {
	width: 150px;
	height: 150px;
	overflow: hidden;
}
.thumbnail img {
	width: 100%;
}