body {
	font-family: Arial,Helvetica,sans-serif;
	font-color: #222;
}
a,
a:visited {
	color: #0000EE;
} 
a img {
	border: none;
}

#header {
	padding: 5px 0 15px;
}
#logo {
	width: 200px;
	float: left;
	text-align: center;
	margin-right: 5px;
}
#logo img {
	max-width: 100%;
}
#search .btn {
	font-size: 15px;
	height: 30px;
	margin: 0;
	vertical-align: top;
}
#search .inp {
	font-size: 18px;
	width: 20em;
}

.toggle a {
	text-decoration: none;
}
#left {
	float: left;
	margin-right: 5px;
}
#left .toggle {
	text-align: right;
}
#left .body {
	width: 200px;
	font-size: small;
}

#right {
	float: left;
	margin-left: 5px;
}
#right .body {
	width: 200px;
	font-size: small;
}

#results {
	float: left;
	border-width: 0 1px;
	border-style: solid;
	border-color: #CCC;
	padding: 0 10px;
	width: 560px;
}

ul.resource-list {
	margin: 0;
	padding: 0;
}
ul.resource-list li {
	padding: 2px 0;
	margin: 0;
	list-style: none;
	cursor: pointer;
}
.resource-list .selected {
	font-weight: bold;
}
.resource-list li:hover .label {
	text-decoration: underline;
}
.resource-list .count {
	float: left;
	width: 2em;
	text-align: right;
	color: #AAA;
}
.resource-list .value-inner {
	padding-left: 2.5em;
}
.resource-list .checkbox {
	padding-left: 0.5em;
	float: right;
}

.facet,
.suggestion {
	margin-top:10px;
	padding-top:5px;
}
.facet .resource-list {
	overflow: auto;
	max-height: 12em;
}

.column .header {
	border-bottom:1px solid #CCC;
	padding-bottom: 3px;
}
#relations {
	overflow: auto;
	clear: both;
	font-size: small;
}
#relations .relations-header,
#relations .toggle-button,
#relations .resource-list li {
	padding: 0 4px 0 0;
	float: left;
}
#relations .relations-content {
	overflow: auto;
}
#filters {
	clear: both;
	overflow: auto;
	font-size: small;
}
.filter {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	float: left;
	margin: 0 5px 10px 0;
	overflow: auto;
	padding: 2px;
}
.filter .resource-list .value-inner {
	padding-left: 1em;
}

#results .header {
	overflow: auto;
	margin-bottom: 10px;
}

.paginator {
	text-align: center;
	margin: 10px 0 20px;
	font-size: small;
}
.paginator a {
	border:1px solid #0000EE;
	margin: 0 2px;
	padding: 3px;
	color: #0000EE;
	text-decoration: none;
}
.paginator .active a {
	color: #CCC;
	border-color: #CCC;
}

.result-item {
	clear: both;
	margin-bottom: 20px;
	overflow: auto;
}
.result-item .title {
	overflow: auto;
	margin-bottom: 3px;
}
.result-item .thumbnail {
	max-width: 125px;
	max-height: 125px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.result-item .thumbnail img {
	width: 100%;
}
.result-item .subtitle {

}
.result-item .description {
	font-size: small;
}
.result-item .text {
}